<footer class="app-footer bg-gray-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-md-start text-center">
                <strong>DataFlow.IA &copy; 2024-@DateTime.Now.Year.</strong> Todos os direitos reservados.
            </div>
            <div class="col-md-6 text-md-end text-center mt-2 mt-md-0">
                <a href="#" class="text-white-50 mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white-50 mx-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white-50 mx-2"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>
