@if (TempData["Modal-Sucesso"] != null)
{
    <script>
        $(document).ready(function () {
            var modalEl = document.querySelector('.modal-alert.bg-success');
            var modal = new bootstrap.Modal(modalEl);
            modal.show();
            setTimeout(function () { modal.hide() }, 10000);
        });
    </script>
    <div class="modal modal-alert bg-success" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-success">
                <div class="modal-header p-b-0" style="border-bottom:none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body p-b-2 p-t-0">
                    <div class="modal-body text-light text-center">
                        <div class="row text-center">
                            <div class="col-lg-12">
                                <span class="fa-stack display-4">
                                    <i class="fa fa-circle fa-stack-2x text-light"></i>
                                    <i class="fa fa-thumbs-up fa-stack-1x text-success"></i>
                                </span>
                            </div>
                            <div class="col-lg-12 text-center pt-4">
                                <h5 class="text-white">
                                    @Html.Raw(TempData["Modal-Sucesso"])
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["Modal-Erro"] != null)
{
    <script>
        $(document).ready(function () {
            var modalEl = document.querySelector('.modal-alert.bg-danger');
            var modal = new bootstrap.Modal(modalEl);
            modal.show();
            setTimeout(function () { modal.hide() }, 10000);
        });
    </script>
    <div class="modal modal-alert bg-danger" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-danger">
                <div class="modal-header p-b-0" style="border-bottom:none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body p-b-2 p-t-0">
                    <div class="modal-body text-light text-center">
                        <div class="row text-center">
                            <div class="col-lg-12">
                                <span class="fa-stack display-4">
                                    <i class="fa fa-circle fa-stack-2x text-light"></i>
                                    <i class="fa fa-thumbs-down fa-stack-1x text-danger"></i>
                                </span>
                            </div>
                            <div class="col-lg-12 text-center pt-4">
                                <h5 class="text-white">
                                    @Html.Raw(TempData["Modal-Erro"])
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}