<div class="bg-primary text-white text-center py-5">
    <div class="container-fluid">
        <h1 class="display-4 fw-bold animate__animated animate__fadeInDown">Seu futuro começa agora.</h1>
        <p class="lead mt-3 animate__animated animate__fadeIn">Aprenda, crie e monetize seu conhecimento na BrainFlow.</p>
        <hr class="my-4 border-white-50 animate__animated animate__zoomIn">
        <div class="animate__animated animate__fadeInUp">
            <a href="@Url.Action("EfetuarLogin", "Login")" class="btn btn-lg bg-white text-primary rounded-pill shadow-lg me-2">
                Fazer Login
            </a>
            <a href="@Url.Action("Cadastrar", "Login")" class="btn btn-lg btn-secondary text-white rounded-pill shadow-lg">
                Cadastre-se
            </a>
        </div>
    </div>
</div>